.registrationFrame {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.tableResponsiveStyle {
    width: 100%;
    color: white;
}



table th, table td {
    vertical-align: middle !important;
    text-align: center !important;
    font-size: 12px;
    width: 200px;
    height: 50px;
}

table td a {
    color: white;
    text-decoration: none;
}

table td a:hover {
    color: white;
    text-decoration: none;
}

table td:hover {
    opacity: 0.8;
    cursor: pointer;
}


table td.trackNameCell {
    min-width: 170px;
    border-right: #FFFFFF 1px solid;
    border-left: rgba(255, 255, 255, 0.2) 1px solid;
}

table td.trackNameCell a:before {
    content: "you";
    color: transparent;
    display: inline-block;
    vertical-align: middle !important;
    text-align: center !important;
    background: transparent url("./img/youtube.png") no-repeat center center;
    background-size: 100%;
}

table td.reservedCell {

}

table td.unreservedCell:hover {
    background-color: rgba(100,100,100, 0.25);
}

table td.myReservedCell {
    background-color: rgba(200,200,200, 0.25);
}

table td.myReservedCell:hover {
    background-color: black;
    color: transparent;
    width: 200px;
    height: 50px;
}

table td.myReservedCell:hover .cellFioText {
    display: none;
}


table td.myReservedCell:hover:before {
    color: whitesmoke;
    content: "Отменить";
    width: 200px;
    height: 50px;
    line-height: 35px;
}


.offerSection {
    margin: 10px 0;
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}